<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>grpc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lib-oc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lib-rpc-service.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mgd-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>mgd_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>946702991C64348C00E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946702A71C6471ED00E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946702B21C64723C00E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946702BD1C64724900E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946703A51C64769600E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946703B01C6477A400E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946703C21C64782500E73BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AC4F0E1CA1EE9E00AFDFE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AC4F191CA1EFD500AFDFE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
