*.a
*.o
*.pyc
.svn/*
logs/*
src/grpc/client/client
src/grpc/server/server
src/grpc/test/agent_test
src/grpc/mgd_server/mgd_server
src/grpc/udp_data_simulator/udp_data_simulator
config/test_config/SimServerConfig/agent_server_test.ini
